.rodape  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.logo__rodape {
    width: 120px;
    height: 200px;
}

.texto__rodape {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}


.rodape__social {
    display: flex;
    justify-content: space-around;
}

.rodape__imagem {
    width: 40px;
    height: 40px;
}


hr {
    margin-top: 1;
    
}

@media(max-width:768px) {

.logo__rodape {
    width: 60px;
    height: 100px;
}

.texto__rodape {
    font-size: 12px;
}

.rodape__social {
    
    flex-direction: column;
}


}





