.cabecalho {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
}

.titulo {
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;  
}

.titulo__logo {
    width: 100px;
    
}

.cabecalho__a {
    height: 50px;
    width: 50px;
}

.cabecalho__carrinho {
    width: 100%;
         
}

.cabecalho__usuario {
    width: 100%;
     
}

@media(max-width:768px) {
    
.cabecalho {
    flex-direction: column;
    padding-top: .5rem;
}

.titulo__logo {
    width: 100px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cabecalho__usuario {
    width: 50px;
    
}

.cabecalho__carrinho {
    width: 50px;
    padding-top: 2rem;
    
}

}